.carousel {
  overflow: hidden;
  &:hover {
    .prevBtn,
    .nextBtn {
      opacity: 1;
    }
  }
}

.container {
  display: flex;
}

.title {
  text-align: center;
  margin-top: 0;
}
a {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 3rem;
  height: 480px;
  position: absolute;
}
.prevBtn {
  left: 3%;
}
.nextBtn {
  right: 3%;
}

.arrow-prev,
.arrow-next {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
}

.arrow-prev::after {
  position: absolute;
  content: "";
  width: 3rem; /* 사이즈 */
  height: 3rem; /* 사이즈 */
  border-top: 0.3em solid #fff; /* 선 두께 */
  border-right: 0.3em solid #fff; /* 선 두께 */
  transform: rotate(225deg); /* 각도 */
}

.arrow-next::after {
  position: absolute;
  content: "";
  width: 3rem; /* 사이즈 */
  height: 3rem; /* 사이즈 */
  border-top: 0.3em solid #fff; /* 선 두께 */
  border-right: 0.3em solid #fff; /* 선 두께 */
  transform: rotate(45deg); /* 각도 */
}
